h2 {
    font-family: 'Poppins';
    font-size: 36px;

    margin-bottom: 15px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.5);

    margin-bottom: 25px;
    margin-top: 0px;
}

h3,
span,
p {
    font-family: 'Avenir';
}

.commentSection {
    // color: #f7e2e2;
    color: black;
    margin: 0 auto;
    width: 100%;
    height: auto;
    font-size: 1em;
    text-align: center;
    font-family: 'Gilroy-Medium';
}

.profile_container,
.info,
.back {
    margin: 5em 5em;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    height: 100%;
}

.profile_img_infos {
    margin-top: -25em;
}

.back {
    display: flex;
    align-items: center;
    color: rgba(34, 34, 34, 0.5);
}

.back i {
    margin-right: 15px;
}

.profile_img-LG {
    height: 400px;
    width: 300px;
    border-radius: 40px;

    object-fit: cover;
    object-position: 50% 50%;

    background-position: 40% 50%;
}

.flag_wrapper {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 100%;
    position: relative;
    bottom: -9.5em;
    left: -4.75em;
}

.flag {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

.description {
    margin-bottom: 30px;
    margin-top: 0px;
}

.profile_img_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em auto;
}

.profile_desc_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3em;
    width: 55vw;
}
.interests {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    min-height: 80px;
    align-items: center;
    flex-direction: row;
}
.interests_item {
    display: flex;
    padding: 5px 15px;
    margin-right: 7.5px;
    margin-bottom: 10px;
    line-height: 35px;
    background-color: #e6e6e6;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

    color: rgba(34, 34, 34, 0.5);
}

.info {
    margin-top: -10px;
    margin-left: 0;
}

.link_img_wrapper {
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 10px;
    position: relative;
}

.link_img {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}

ul {
    padding: 0px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

li p {
    margin-left: 30px;
    color: rgba(34, 34, 34, 0.5);
}

@media screen and (max-width: 1000px) {
    .profile_container,
    .info,
    .back {
        margin: 60px 33px 0px;
    }

    .profile_container {
        flex-direction: column;
    }

    .profile_img_section {
        margin: 0 auto;
    }

    .profile_img-LG {
        width: 300px;
        height: 300px;
        border-radius: 100%;
    }

    .flag_wrapper {
    }

    .profile_desc_section {
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: -40px;
    }

    .info {
        margin-top: 10px;
        margin-left: 33px;
    }
}

.card {
    color: #f7e2e2;
    font-family: 'Gilroy-Bold';
    background-size: cover;
    background-position: center;
    padding: 5rem 0 0;
    width: 80ch;
    min-height: 60ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease-in-out;
    text-decoration: none !important;

    &:hover,
    &:focus-within {
        transition: max-height 2500ms ease-in-out;
        transform: scale(1.025);

        .card-title::after {
            transform: scaleX(1) !important;
        }
    }

    .card-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        --padding: 1rem;
        padding: var(--padding);
        background: linear-gradient(
            hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.5) 60%,
            hsl(0 0% 0% / 1)
        );
        transition: transform 500ms ease-in-out;

        .card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: fit-content;
        }

        .card-title::after {
            content: '';
            position: absolute;
            height: 5px;
            bottom: 20px;
            left: calc(var(--padding) * -1);
            width: calc(100% - var(--padding));
            background-color: #5b7db1;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 500ms ease-in-out;
        }
    }
}

.slick-slide > div {
    display: grid;
    place-items: center;
    width: 80%;
    margin: 0 auto;
}
